@import 'variables';

.card {
    border: 1px solid #CCC;
    background-color: white;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0 8px 6px -6px lightgray;
    -moz-box-shadow: 0 8px 6px -6px lightgray;
    box-shadow: 0 8px 6px -6px lightgray;
    text-align: center;
    padding: 15px;

    button:not(:last-child) {
        margin-bottom: 20px;
        float: none;
    }
    button.ui-g-12 {
        float: none;
    }
}